<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to confbuddy.com, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to confbuddy.com.<br>
    </p>
    <p>
      You decide to be matched to a buddy for the day of the conference.
      You've been paired with <%=  %> for the event <%=  %>. Go
      and check your buddy linkedin profile in  <%=  %>

      You are able to get a free meal at 357 Collins Street
      Food Court on the day of the conference with your buddy, so you will have
      the chance to talk and exchange opinion for different topics.
    </p>

    <p>
      The code to present at the food court is : <%  %>
    </p>

    <p>
      Thanks for joining and have a great day!
    </p>
  </body>
</html>
