<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Upcoming event</title>
  </head>
  <body>
    <h2>Hello from the stuff of confbuddy.com </h2>,

    <p>
      You have an upcoming event happening soon.
    <%= @event.name %> , <%= @event.time %>
    </p>
  </body>
</html>
