<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Upcoming event</title>
  </head>
  <body>
    Hello from the stuff of confbuddy.com
    You have an upcoming event happening soon.
    <%= @event.name %> <%= @event.time %>
    
  </body>
</html>
