<!-- Single Page Sign Up -->

<!-- Section 1 - User Details  -->

<div class="row">
    <form class="col s12 offset-m1 m10 offset-l2 l8 signup-form ">
        <div class="signup-form-section-1">
            <div class="line-divider" style='margin-top: 90px;'></div>
            <div class="signup-form-title">
                <div class="row">
                    <h5 class="Error: source does not appear to be markup.">Step 1:</h5>
                    <h4>// Info //</h4>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix"></i>
                    <input id="first_name" name="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix"></i>
                    <input id="last_name" name="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix"></i>
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email" data-error="Not Valid" data-success="Valid">Email</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix"></i>
                        <input id="password" type="password" class="validate" name="password">
                        <label for="password">Password</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-divider"></div>

        <!-- Section 2 - User Strengths  -->
        <div class="signup-form-section-2">
            <div class="row">
                <div class="signup-form-title">
                    <h5 class="signup-steps-title">Step 2:</h5>
                    <h4>// Strengths //</h4>
                    <p>Select your strengths that you want to share.</p>
                </div>
                <div class="signup-coding-container row">

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/javascript.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p class="">JavaScript</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/ruby.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p class="signup-cell">Ruby</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/rails.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p class="">Ruby on Rails</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/python.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Python</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/jquery.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>jQuery</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/css.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>CSS</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/angular.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Angular</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/git.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Git</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/database.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Databases</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/php.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>PHP</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/API.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>APIs</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option1">
                        <img src="assets/node.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Node</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="line-divider"></div>

        <!-- Section 3 - User Interests  -->
        <div class="signup-form-section-3">
            <div class="row">
                <div class="signup-coding-container row">
                    <div class="signup-form-title">
                        <h5 class="signup-steps-title">Step 3:</h5>
                        <h4>// Seeking //</h4>
                        <p>Select an area of interest that you want to learn.</p>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/javascript.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>JavaScript</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/ruby.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Ruby</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/rails.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Ruby on Rails</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/python.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Python</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/jquery.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>jQuery</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/css.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>CSS</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/angular.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Angular</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/git.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Git</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/database.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Databases</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/php.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>PHP</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/API.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>APIs</p>
                        </div>
                    </div>

                    <div class="col s6 m4 signup-coding-option2">
                        <img src="assets/node.png" class="signup-coding-image">
                        <div class="signup-coding-option-inner">
                            <p>Node</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="line-divider"></div>

        <div class="signup-form-section-3">
            <div class="row">
                <div class="signup-coding-container row">
                    <div class="signup-form-title">
                        <h5 class="signup-steps-title">Step 4:</h5>
                        <h4>// Events //</h4>
                        <p>Pick your events.</p>
                    </div>

                    <div id="events-tab" class="col s12">
                        <div class="cards-test">
                            <div class="row row-test">
                                <script id="event-card-template" type="text/x-handlebars-template">

                                    <div class="signup-contents col s12 m6 l4">

                                        <div class=" modal-trigger" id="card{{ id }}" data-target="modal{{id}}">
                                            <div class="card events-card">

                                                <div class="card-image events-card-image">
                                                    <div class="events-card-image-container fill z-depth-1">
                                                        <img class="events-card-image-inner fill-img" src="{{ eventImg }}">
                                                    </div>

                                                    <div class="card-content">
                                                        <h5 class="events-card-title">{{ eventName }}</h5>
                                                    </div>

                                                    <div class="card-content events-card-presenter">
                                                        <p>{{ eventPresenter }}</p>
                                                    </div>
                                                    <div class="card-content events-card-time">

                                                        <i class="material-icons events-card-icons">schedule</i>

                                                        <p class="events-card-time-inner">{{ eventTime }}</p>

                                                    </div>

                                                </div>
                                            </div>

                                            <div id="modal{{id}}" class="modal">
                                                <div class="modal-content modal-content-timetable">
                                                    <div class="row">
                                                      <img class="col s12 m6 offset-m3" src="{{ eventImg }}">
                                                    </div>

                                                    <h4 class="modal-content-title">{{ eventName }}</h4>
                                                    <div class="line-divider"></div>

                                                    <!-- <div class="modal-content-chips">
                                                        <div class="chip">
                                                            Javascript
                                                        </div>
                                                        <div class="chip">
                                                            Lecture
                                                        </div>
                                                        <div class="chip">
                                                            Hacker
                                                        </div>
                                                    </div> -->

                                                    <div class="col s12">
                                                        <p class="modal-content-span">Presenter:</p>
                                                        <h5 class="modal-content-presenter">{{ eventPresenter }}</h5>
                                                        <div class="row"><p class="modal-content-span col s6">Time: <span class="modal-content-span-inner">{{ eventTime }}</span></p></div>
                                                        <div class="row"><p class="modal-content-span col s6">Sponsor: <span class="modal-content-span-inner">{{ eventSponsor }}</span></p></div>

                                                        <!-- <div class="modal-content-presenter-img-container col s12 m4 offset-m4">
                                                            <img class="modal-content-presenter-img col s12 m4 offset-m4" src="http://codewinds.com/assets/people/guy-bedford-jsconf-2014.jpg">
                                                        </div> -->

                                                    </div>

                                                    <div class="col s12">
                                                        <p class="modal-content-span">Description:</p>
                                                        <p class="modal-content-description">{{ eventDescription }}</p>


                                                        <!-- <p class="modal-content-span">Stream:</p> -->
                                                        <!-- <p class="modal-content-stream">{{ eventStream }}</p> -->

                                                    </div>

                                                    <div class="modal-footer">
                                                        <a href="#!" class=" modal-action modal-close btn-flat">CLOSE</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="signup-checkbox">
                                            <div class="signup-checkbox-inner ">
                                                <input type="checkbox" id="checkbox{{id}}" />
                                                <label for="checkbox{{id}}" class="checkbox-tick" style="height:100px;">{{ eventName }}</label>
                                            </div>
                                        </div>

                                    </script>

                                </div>
                            </div>
                        </div>
                        <!-- Section 5 - Submit  -->
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="signup-form-submit-container row">
        <a class="signup-form-submit">Submit</a>
    </div>

    <script>

        $(document).ready(function () {
            var payload = {
                strength: '',
                seeking: '',
                attending_events: []

            };

            $(".signup-form").on('click', '.signup-coding-option1', function () {
                $('.signup-coding-option1').removeClass("green");
                $('.signup-coding-image').removeClass("animated pulse");
                $(this).addClass("green");
                $(this).closest(".signup-coding-option1").find("img").addClass("animated pulse");
                payload.strength = $(this).closest("p").context.innerText.trim();
                console.log(payload);
            });
            $(".signup-form").on('click', '.signup-coding-option2', function () {
                $('.signup-coding-option2').removeClass("green");
                $('.signup-coding-image').removeClass("animated pulse");
                $(this).addClass("green");
                $(this).closest(".signup-coding-option2").find("img").addClass("animated pulse");
                payload.seeking = $(this).closest("p").context.innerText.trim();
                console.log(payload);
            });

            $(".signup-form").on('click', '.checkbox-tick', function () {
                var eventbox = $(this).closest(".events-card-title").find("h5").context.innerText.trim();
                $(this).closest(".signup-checkbox").addClass("green");
                $(this).closest(".checkbox-tick").addClass("white-text");
                payload.attending_events.push(eventbox);
                console.log(payload);
            });

            $('.signup-form-submit').click(function () {
                //read all required fields from the dom and store them in the payload.

                payload.firstName = $('#first_name').val();
                payload.lastName = $('#last_name').val();
                payload.email = $("#email").val();
                payload.password = $("#password").val();

                $.ajax({
                    type: "POST",
                    url: 'http://127.0.0.1:3000//api/users',
                    data: {
                        first_name: payload.firstName,
                        last_name: payload.lastName,
                        email: payload.email,
                        password: payload.password,
                        strength: payload.strength,
                        seeking: payload.seeking,
                        attending_events: payload.attending_events
                    },
                    dataType: "json",
                    success: function (data) {
                        console.log("yayyyyy");
                    },
                    error: function (errorThrown) {
                        console.log("error occured");
                    }
                }).done(function () {
                    $(location).attr("href", "/");
                })
            });

            //
            // $(".signup-form-submit").on('click', function(){   $.ajax({     url: '/api/users',     type: "POST",     dataType: 'json'     data: $('.signup-form').serializeArray(),     success: function(){       console.log("Form Submitted");     }
            //
            //   })

        });
    </script>
