<div class="index-background-grey">

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center black-text text-lighten-2 element">WDI CONFRENCE</h1>
                <div class="row center">
                    <h5 class="header col s12 light">FUTURE OF TECH BEGINS 4th OF JUNE 2016</h5>
                </div>
                <div class="row center">
                    <a href="/signup" id="download-button" class="btn-large waves-effect waves-light black lighten-1">Get your tickets</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="http://images6.fanpop.com/image/photos/37900000/hi-tech-wall-paper-hi-tech-37969755-2560-1600.jpg" alt="Unsplashed background img 1"></div>
    </div>

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">

                        <h5 class="center">Technology</h5>

                        <p class="light">We give insight of tomorrow's technology. Our visionaries provide views of where the industry is going and how you will be part of the impact.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h5 class="center">Business</h5>

                        <p class="light">Want to change the world with your business? Our speakers have done it and now they will gather to tell you exclusively what brought them to the top.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">

                        <h5 class="center">Design</h5>

                        <p class="light">How to create powerful visuals to support your goals. Our design expert speakers share their experience on creating design that remains.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
                </div>
            </div>
        </div>
        <div class="parallax"><img src="https://spin.atomicobject.com/wp-content/uploads/programming-is-magic.jpg" alt="Unsplashed background img 2"></div>
    </div>
    <!--
  <div class="container" id="schedule">
    <div class="section story">

      <div class="row">
        <div class="col s12 center">
          <p class="eventheader">Event schedule</p>

          <div class="schedule">
              <div class="eventstream" id="all">All</div>
              <div class="eventstream" id="eventstream1">Tech</div>
              <div class="eventstream" id="eventstream2">Business</div>
              <div class="eventstream" id="eventstream3">Design</div>


              <div class="hackerdetails">
                  <div class="hackers events">
                  <div><b>4th of June // 9.30am</b></div>
                  <div>"Javascript - Understanding the weird parts"</div>
                  <div><b>Speaker:</b> Douglas Crockford</div>
                </div>

                  <div class="hackers events">
                  <div><b>4th of June // 11.30am</b></div>
                  <div>"Why I rather communicate with computers than humans"</div>
                  <div><b>Speaker:</b> Linus Torvalds</div>
                </div>

                  <div class="hackers events">
                  <div><b>4th of June // 14.30am</b></div>
                  <div>"How to rock your own programming language"</div>
                  <div><b>Speaker:</b> Yukihiro Matsumoto</div>
                </div>

                  <div class="hackers events">
                  <div><b>4th of June // 16.00am</b></div>
                  <div>"Keeping that plane in the air - How to code safely in risky industries"</div>
                  <div><b>Speaker:</b> Leanna Rierson</div> -->


                  <div id="events-tab" class="col s12">
                      <div class="cards-test">
                          <div class="row row-test">
                              <script id="event-card-template" type="text/x-handlebars-template">


                                  <div class="signup-contents col s12 m6 l4">

                                      <div class=" modal-trigger" id="card{{ id }}" data-target="modal{{id}}">
                                          <div class="card events-card">

                                              <div class="card-image events-card-image">
                                                  <div class="events-card-image-container fill z-depth-1">
                                                      <img class="events-card-image-inner fill-img" src="{{ eventImg }}">
                                                  </div>

                                                  <div class="card-content">
                                                      <h5 class="events-card-title">{{ eventName }}</h5>
                                                  </div>

                                                  <div class="card-content events-card-presenter">
                                                      <p>{{ eventPresenter }}</p>
                                                  </div>
                                                  <div class="card-content events-card-time">

                                                      <i class="material-icons events-card-icons">schedule</i>

                                                      <p class="events-card-time-inner">{{ eventTime }}</p>

                                                  </div>

                                              </div>
                                          </div>


                    <div class="modal">
                        <div class="modal-content modal-content-timetable">

                            <img class="col s12 m6" src="{{ eventImg }}">

                            <h4 class="modal-content-title">{{ eventName }}</h4>
                            <div class="line-divider"></div>

                            <div class="modal-content-chips">
                                <div class="chip">
                                    Javascript
                                </div>
                                <div class="chip">
                                    Lecture
                                </div>
                                <div class="chip">
                                    Hacker
                                </div>
                            </div>

                            <div class="col m6 s12">
                                <p class="modal-content-span">Presenter:</p>
                                <h5 class="modal-content-presenter">{{ eventPresenter }}</h5>
                                <div class="modal-content-presenter-img-container">
                                    <img class="modal-content-presenter-img" src="http://codewinds.com/assets/people/guy-bedford-jsconf-2014.jpg">
                                </div>

                            </div>

                            <div class="col m6 s12">
                                <p class="modal-content-span">Description:</p>
                                <p class="modal-content-description">{{ eventDescription }}</p>
                                <p class="modal-content-span">Time:</p>
                                <p class="modal-content-time">{{ eventTime }}</p>
                                <p class="modal-content-span">Sponsor:</p>
                                <p class="modal-content-sponsor">{{ eventSponsor }}</p>
                                <p class="modal-content-span">Stream:</p>
                                <p class="modal-content-stream">{{ eventStream }}</p>

                            </div>

                            <div class="modal-footer">
                                <a href="#!" class=" modal-action modal-close btn-flat">CLOSE</a>
                            </div>
                        </div>
                    </div>


                                                  <div class="col s12">
                                                      <p class="modal-content-span">Presenter:</p>
                                                      <h5 class="modal-content-presenter">{{ eventPresenter }}</h5>
                                                      <div class="row"><p class="modal-content-span col s6">Time: <span class="modal-content-span-inner">{{ eventTime }}</span></p></div>
                                                      <div class="row"><p class="modal-content-span col s6">Sponsor: <span class="modal-content-span-inner">{{ eventSponsor }}</span></p></div>

                                                      <!-- <div class="modal-content-presenter-img-container col s12 m4 offset-m4">
                                                          <img class="modal-content-presenter-img col s12 m4 offset-m4" src="http://codewinds.com/assets/people/guy-bedford-jsconf-2014.jpg">
                                                      </div> -->

                                                  </div>

                                                  <div class="col s12">
                                                      <p class="modal-content-span">Description:</p>
                                                      <p class="modal-content-description">{{ eventDescription }}</p>


                                                      <!-- <p class="modal-content-span">Stream:</p> -->
                                                      <!-- <p class="modal-content-stream">{{ eventStream }}</p> -->

                                                  </div>

                                                  <div class="modal-footer">
                                                      <a href="#!" class=" modal-action modal-close btn-flat">CLOSE</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                  </script>

                              </div>
                          </div>
                      </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
                </div>
            </div>
        </div>
        <div class="parallax"><img src="https://evolverefrigeration.com/wp-content/uploads/2015/08/vaccine-storage-and-internet-of-things.jpg" alt="Unsplashed background img 3"></div>
    </div>

</div>

<footer class="page-footer indigo lighten-4">
    <div class="container">
        <div class="row">

            <h5 class="black-text">Company Bio</h5>
            <p class="black-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

        </div>
    </div>

</footer>

<script>

    $(function () {
        $(".element").typed({
            strings: ["WDI CONFERENCE."], typeSpeed: 0
            // loop: true
        });
    });

    $('.modal-trigger').leanModal();

    var hashTagActive = "";
    $(".scroll").click(function (event) {
        if (hashTagActive != this.hash) { //this will prevent if the user click several times the same link to freeze the scroll.
            event.preventDefault();
            //calculate destination place
            var dest = 0;
            if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
                dest = $(document).height() - $(window).height();
            } else {
                dest = $(this.hash).offset().top;
            }
            //go to destination
            $('html,body').animate({
                scrollTop: dest
            }, 2000, 'swing');
            hashTagActive = this.hash;
        }
    });

    (function ($) {
        $(function () {

            Error: source does not appear to be markup.
            $('.parallax').parallax();

        }); // end of document ready
    })(jQuery); // end of jQuery name space

</script>
