<div class="row events-tabs-container">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2">
                <a class="active" href="#test1">Day 1</a>
            </li>
            <li class="tab col s2">
                <a href="#test2">Day 2</a>
            </li>
            <li class="tab col s2">
                <a href="#test3">Day 3</a>
            </li>
            <li class="tab col s2">
                <a href="#test4">Day 4</a>
            </li>
            <li class="tab col s2">
                <a href="#test5">Day 5</a>
            </li>
        </ul>
    </div>
    <div id="test1" class="col s12">
        <div class="events-timetable-day1">

            <div class="timetable"></div>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content modal-content-timetable">
                    <h3 class="modal-content-title">Javascript - Understanding the weird parts</h3>
                    <div class="line-divider"></div>

                    <div class="modal-content-chips">
                        <div class="chip">
                            Javascript
                        </div>
                        <div class="chip">
                            Lecture
                        </div>
                        <div class="chip">
                            Hacker
                        </div>
                    </div>

                    <p class="modal-content-span">Presenter:</p>
                    <h4 class="modal-content-presenter">Douglas Crockford</h4>
                    <div class="modal-content-presenter-img-container">
                      <img class="modal-content-presenter-img" src="http://codewinds.com/assets/people/guy-bedford-jsconf-2014.jpg">
                    </div>

                    <p class="modal-content-span">Time:</p>
                    <p class="modal-content-time">4th of June // 9.30am</p>

                    <p class="modal-content-span">Description:</p>
                    <p class="modal-content-description">The famous Javascript programmer and published author Douglas Crockford reveals his most hated parts of popular programming language and tells his secret to overcome these. He also argues why Javascript still
                        remains as the most useful programming language in the future.</p>

                    <p class="modal-content-span">Sponsor:</p>
                    <p class="modal-content-sponsor">
                        Zendesk
                    </p>

                    <p class="modal-content-span">Stream:</p>
                    <p class="modal-content-stream">Hacker</p>

                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close btn-flat">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
    <div id="test2" class="col s12">Day 2</div>
    <div id="test3" class="col s12">Day 3</div>
    <div id="test4" class="col s12">Day 4</div>
    <div id="test5" class="col s12">Day 5</div>
</div>

<script>

    var timetable = new Timetable();

    timetable.setScope(9, 2)

    timetable.addLocations([
        'Rotterdam',
        'Madrid',
        'Los Angeles',
        'London',
        'New York',
        'Jakarta',
        'Tokyo',
        'Lecture Hall 1'
    ]);

    timetable.addEvent('Javascript Understanding the weird parts', 'Lecture Hall 1', new Date(2016, 06, 04, 9, 30), new Date(2016, 06, 04, 12, 30), '#modal1');
    // timetable.addEvent('Why I rather communicate with computers than humans', 'Madrid', new Date(2015,7,17,12), new Date(2015,7,17,13), '#'); timetable.addEvent('Zumbu', 'Madrid', new Date(2015,7,17,13,30), new Date(2015,7,17,15), '#');
    // timetable.addEvent('Lasergaming', 'London', new Date(2015,7,17,17,45), new Date(2015,7,17,19,30), '#'); timetable.addEvent('All-you-can-eat grill', 'New York', new Date(2015,7,17,21), new Date(2015,7,18,1,30), '#'); timetable.addEvent('Hackathon',
    // 'Tokyo', new Date(2015,7,17,11,30), new Date(2015,7,17,20)); // url is optional and is not used for this event timetable.addEvent('Tokyo Hackathon Livestream', 'Los Angeles', new Date(2015,7,17,12,30), new Date(2015,7,17,16,15)); // url is
    // optional and is not used for this event timetable.addEvent('Lunch', 'Jakarta', new Date(2015,7,17,9,30), new Date(2015,7,17,11,45), '#');

    var renderer = new Timetable.Renderer(timetable);
    renderer.draw('.timetable');

    $('.time-entry').addClass("modal-trigger");

    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });
</script>
